In [3]:
#!pip install db-sqlite3
import sqlite3

conn = sqlite3.connect('INSTRUCTOR.db')

In [5]:
cursor_obj = conn.cursor()

In [7]:
cursor_obj.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [9]:
table = """CREATE TABLE IF NOT EXISTS INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2));"""
cursor_obj.execute(table)
print('Table is ready')

Table is ready

In [11]:
cursor_obj.execute('''INSERT INTO INSTRUCTOR VALUES(1, "Rav", "Ahuja", "TORONTO", "CA"), (2, "Raul", "Chong", "Markham", "CA"), (3, "Hima", "Vasudevan", "Chicago", "US")''')

In [13]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)
print("All the data")

output_all = cursor_obj.fetchall()
for row_all in output_all:
    print(row_all)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')
(3, 'Hima', 'Vasudevan', 'Chicago', 'US')

In [15]:
statement = '''SELECT * FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("All the data")
output_many = cursor_obj.fetchmany(2)
for row_many in output_many:
    print(row_many)

All the data
(1, 'Rav', 'Ahuja', 'TORONTO', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [17]:
statement = '''SELECT FNAME FROM INSTRUCTOR'''
cursor_obj.execute(statement)

print("First name")
output_column = cursor_obj.fetchall()
for fetch in output_column:
    print(fetch)

First name
('Rav',)
('Raul',)
('Hima',)

In [19]:
query_update = '''UPDATE INSTRUCTOR SET CITY = 'MOOSETOWN' WHERE FNAME = "Rav";'''
cursor_obj.execute(query_update)

In [21]:
statement = '''SELECT * FROM INSTRUCTOR;'''
cursor_obj.execute(statement)

print("Updated Data")
output1 = cursor_obj.fetchmany(2)
for row in output1:
    print(row)

Updated Data
(1, 'Rav', 'Ahuja', 'MOOSETOWN', 'CA')
(2, 'Raul', 'Chong', 'Markham', 'CA')

In [23]:
!pip install pandas
import pandas as pd
df = pd.read_sql_query("SELECT * FROM INSTRUCTOR;", conn)
df

Requirement already satisfied: pandas in c:\users\ektoras\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ektoras\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ektoras\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ektoras\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ektoras\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\ektoras\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

   ID FNAME      LNAME       CITY CCODE
0   1   Rav      Ahuja  MOOSETOWN    CA
1   2  Raul      Chong    Markham    CA
2   3  Hima  Vasudevan    Chicago    US

In [27]:
df.LNAME[0]

'Ahuja'

In [29]:
df.shape

(3, 5)

In [31]:
df.size

15

In [33]:
conn.close()